.live_holder {
  max-width: 700px;
  margin: 0 auto;
  padding: 0px 40px;
  margin-top: 0px;
  margin-bottom: 40px;
}

.toggle_holder {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ranking_container {
  background-color: #1C192D;
  border-radius: 10px;
  padding: 10px;
  margin-top: 10px;
}

.ranking_container p {
  text-align: center;
}
